/* RESPONSIVIDADE CABECALHO I */
@media(min-width:900px) and (max-width:1050px){
    #textLetr{
        font-size:40px;
    }
    #textLetr_I{
        font-size:12px;
    }
    #cabecalhoI{
        padding:35px 0px 50px 45px;
    }
  
}
@media(min-width:750px) and (max-width:900px){
    #textLetr{
        font-size:31px;
    }
    #textLetr_I{
        font-size:12px;
    }
    #cabecalhoI{
        padding:10px 0px 25px 35px;
    }
}
@media(min-width:500px) and (max-width:750px){
    #textLetr{
        font-size:21px;
        margin-top:30px;
    }
    #textLetr_I{
        font-size:9px;
    }
    #cabecalhoI{
        height:105px;
        padding:2px 0px 20px 25px;
       
    }

}
@media(min-width:350px) and (max-width:500px){
    #textLetr{
        font-size:12px;
        margin-top:10px;
    }
    #textLetr_I{
        font-size:7px;
        
    }
    #cabecalhoI{
        height:65px;
        padding:25px 0px 25px 25px;
    }
    
}
@media(min-width:150px) and (max-width:350px){
    #textLetr{
        font-size:11px;
        margin-top:8px;
    }
    #textLetr_I{
        font-size:8px;
        
    }
    #cabecalhoI{
        height:45px;
        padding:13px 0px 15px 7px;
    }

}
